body{
    background-color: rgb(35, 25, 175);
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 60pt;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}